body{
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

p{
    color: #14110E;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-left: 15%;
    margin-right: 15%;
    text-align-last: center;
    padding: 2%;
    line-height: 1.5;
}

h1{
    color: #14110E;
    text-align: center;
}

h2{
    color: #14110E;
    text-align: center;
}

h3{
    color: #14110E;
    text-align: center;
}

header{
    text-align: center;
}

.mylogo{
}

.jklogo{
    float: left;
    width: 5%;
    height: auto;
    margin-left: 3%;
}

.logolinked{
    width: 6%;
    height: auto;
    float: right;
    margin-top: 1.2%;
}
.logogit{
    width: 4%;
    height: auto;
    float: right;
    margin-right: 2%;
    margin-top: 1.2%;
}

.navtext{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    margin: 15px;
    color: #ff4c4c;
    background-color: #ffffff;
}

.navtext a:hover{
    color: #fd4f4ffa;
}

.navbar li{
    display: inline-block;
}

.navbar{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{

    text-decoration: none;
    color:#14110E;
    width: 100px;
    display: block;
}

  
img{
    height: 600px;
    width: auto;
    text-align: center;
    
}

.container {
text-align: center;
margin-top: 5%;

}

.aboutme {
    background-color: #303030;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10%;
}

.aboutme p,h2,h1{
    color: #ffffff;
}

.mydesc{
    text-align: center;
    color: #14110E;
}

.xp h1{
    color: #14110E;
}

footer{
    color: #14110E;
    font-size: large;
    background-color: #303030;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 250px;
}

.footer{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center; 
}

.footertext {
    
    text-decoration: none;
    list-style: none;
    justify-content:center;
    display: inline-block;
    padding: 8%;
    font-size: large;
}

.footertext a, h3{
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

.footertext a:hover{
    color: rgb(80, 142, 249);
}

.buttons1{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
}

.buttons1 img{
    width: 45%;
    height: auto;
    
}


.lbutton {

}

.rbutton{
    
    
}