body{
    background-color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    color: #14110E;
    text-align: center;
}

h1{
    color: #14110E;
    text-align: center;
}

h2{
    color: text-align: center;
    text-align: center;
}

h3{
    color: text-align: center;
    text-align: center;
}

header{
    color: #14110E;
    text-align: center;
}

footer{
    color: #14110E;
    text-align: center;
    background-color: #efefef;
    padding: 25px;
    position: absolute;
    bottom: 0;
}

.resizable-image{
    width: 20%;
    height: auto;
}

img{
    float:right;
}